@model AddBookViewModel	

@{
	ViewData["Title"] = "Aggiungi libro";
}

<form method="post" asp-controller="Book" asp-action="Add" enctype="multipart/form-data">
	<div class="form-group">
	
	<label asp-for="Title" class="form-label"></label>
	<span asp-validation-for="Title" class="text-danger"></span>
	<input type="text" class="form-control" asp-for="Title" />

	<label asp-for="Autore" class="form-label"></label>
	<span asp-validation-for="Autore" class="text-danger"></span>
	<input type="text" class="form-control" asp-for="Autore" />
	
	<label asp-for="IdGenere" class="form-label"></label>
	<span asp-validation-for="IdGenere" class="text-danger"></span>
	<select type="text" class="form-control" asp-for="IdGenere" >
			@foreach (var genere in ViewBag.Generi)
			{
				<option value="@genere.IdGenere">@genere.TipoGenere</option>
			}
	</select>

	@* <label for="Disponibilità">Disponibilità</label>
	<input type="checkbox" id="Disponibilità" name="Disponibilità" asp-for="Disponibilità" /> *@

	<div class="form-check">
		<label class="form-check-label" asp-for="Disponibilità"></label>
		<span asp-validation-for="Disponibilità" class="text-danger"></span>
		<input class="form-check-input" type="checkbox" asp-for="Disponibilità">	
	</div>

			<label class="form-label" asp-for="Image"></label>
			@* <span asp-validation-for="Image" class="text-danger"></span> *@
			<input type="file" asp-for="Image">
		
	</div>
	<button type="submit" class="btn btn-primary">Aggiungi</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}