@model BookViewModel

@{
	ViewData["Title"] = "Libreria";
}

@if (Model.Books != null && Model.Books.Any())
{
    @foreach (var product in Model.Books)
    {
        <div>@product.Title</div>
    }
}
else
{
    <p class="text-danger">Nessun libro trovato</p>
}